<div class="container">
    <h1 class="text-center">My Dashboard</h1>
    <div class="widgets">
        <div class="widget">
            <div>
                <div class="title">Schools</div>
                <div class="value">{{schoolCount}}</div>
            </div>
        </div>
        <div class="widget">
            <div>
                <div class="title">Hospitals</div>
                <div class="value">{{hospitalCount}}</div>
            </div>
        </div>
        <div class="widget">
            <div>
                <div class="title">Banks</div>
                <div class="value">{{bankCount}}</div>
            </div>
        </div>
    </div>
    <div class="widgets">
        <div class="spinner">
            <div class="sk-circle" *ngIf="isWidgetOneSpinner">
                <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="spinner">
            <div class="sk-circle" *ngIf="isWidgetTwoSpinner">
                <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="spinner">
            <div class="sk-circle" *ngIf="isWidgetThreeSpinner">
                <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>